<header>
		<ul class="hdrlist">
			<li>
				<p><a href="/catalog"><img src="/images/Screenshot from 2019-11-15 18-01-04.png" alt="logo" width="200" height="50"></a><p>
			</li>
			<li>
				<ul class="listmenu">
					<li>
					   <a href="">ГЛАВНАЯ</a> 
					</li>
					<li>
						<a href="">ДОСТАВКА И ОПЛАТА</a>
					</li>
					<li>
						<a href="">КОНТАКТИ</a>
					</li>
					<li>
						<a href="">КРЕДИТ</a>
					</li>
				</ul>
			</li>
			<li>
				<div class="wrap" >
					<div class="hdr-cab">
						<a href="../auth/login"><img src="/images/kisspng-clip-art-computer-icons-user-download-chamber-of-d-talonpaw-svg-png-icon-free-download-175238-on-5b84c95a4d32a1.9639307815354289543162.png" alt="cabinet"width="42" height="42" >
					</a>
				</div>
				<div class="hdr-bus" >
					<a href="../cart/orders">
						<img src="/images/shopping-cart.svg" alt="basket"width="50" height="50" id="logocart" >
					</a>
				</div>
				</div>
			</li>
		</ul>
	</header>