<nav>
    <div class="logo">
        <p><a href="/catalog"><img src="/images/Screenshot from 2019-11-15 18-01-04.png" alt="logo" width="350" height="100"></a>
            <p>
    </div>
    <div class="wrap-list">
        <ul class="list-nav">
            <li>
                <div class="filter" onclick="buttonClickfilter('on')" style="Cursor:pointer;">
                    <br><img src="/images/kisspng-computer-icons-filter-funnel-document-clip-art-5b27b2dea490a1.4319025915293283506741.png" alt="logo" width="60" height="30"></a>
                </div>
            </li>
            <li>
                <a href="/catalog"><b><br>ЛОДОЧНЫЕ МОТОРЫ</b></a>
                <ul>
                    <li>
                        <a href="/catalog/1"><b>YAMAHA</b></a>
                    </li>
                    <li>
                        <a href="/catalog/2"><b>SUZUKI</b></a>
                    </li>
                    <li>
                        <a href="/catalog/3"><b>MERKURI</b></a>
                    </li>
                    <li>
                        <a href="/catalog/4"><b>TOHATSU</b></a>
                    </li>
                    <li>
                        <a href="/catalog/5"><b>PARSUN</b></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><b><br>РАСПРОДАЖА</b></a>
            </li>
            <li>
                <a href=""><b><br>БРЕНДЫ</b></a>
            </li>
        </ul>
    </div>
</nav>