
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moto-water</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/admin_add_model.css">
</head>
<body >
	
		<%- include('elements/header'); -%>
        <%- include('elements/nav'); -%>
	
	<main>
		<form method="post" enctype="multipart/form-data" style="margin-top: 300px; margin-bottom: 300px;">
			<div>
				<p><label style="height: 40px;"><input type="file" name="picture" style="margin-left: 80px;cursor: pointer; width: 500px; height: 40px;font-size: 16px;" /></label></p>
			</div>
            <div>
            	<p><label><input type="submit" value="Подтвердить" style="cursor: pointer;"></label></p>
            </div>
	</form>
	
	</main>
	
	<%- include('elements/footer'); -%>
	

</body>