<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Moto-water</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <script src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/cart.js"></script>
</head>

<body>
    <div class="wrap">
        <%- include('elements/header'); -%>
        <%- include('elements/nav'); -%>
        <div class="wrap-main">
            <div class="main">
                <div class="shopping-cart">
                    <div class="title" id="title">
                        Корзина товаров
                    </div>
                    <div id="target"></div>
                    <hr>
                    <br>
                    <div id="full-price"></div>
                    <br>
                </div>
            </div>
        </div>
        <div class="order-btn">
            <a href="/cart/execution">
                <button>Оформить заказ </button>
            </a>
        </div>
        <%- include('elements/footer'); -%>
</body>

</html>